body{
  background-color: rgb(62, 113, 158);
}
.container{
  width: 850px;
  height: 1350px;
  margin-top:150px;
  margin-left: 500px;
  background-color: rgb(225, 235, 223);
  display: inline-block;
}

form{
  margin-left: 60px;
  padding: 20px 0 23px 0 20px;
  width: 700px;
  margin-top: 100px;
  background-color: rgb(132, 130, 219);
}
label{
  font-size: 25px;
  line-height: 10px;
  margin-bottom: 22px;
  display: inline-block;

}
.nameField,.nrcField,.genderField,.addressField,.majorField,.acadamicYearField,.attendanceYearField{
  margin: 0 0 10px 100px;
  padding: 20px 0 25px 0;

}
.nameField input,.nrcField input{
  width: 400px;
}

.addressField textarea{
  width: 400px;
  height: 80px;
}
button{
  margin: 0 0 10px 300px;
}

