body{
  background-color: rgb(62, 113, 158);
}
.container{
  width: 600px;
  height: auto;
  margin-top:100px;
  margin-left: 600px;
  background-color: rgb(225, 235, 223);
  display: inline-block;
}

form{
  margin-left: 82px;
  padding: 20px 0 23px 100px;
  width: 400px;
  margin-top: 100px;
}
label{
  font-size: 18px;
  line-height: 10px;

}
.nameField,.nrcField{
  margin: 0 0 10px 0px;
  padding: 10px 0 15px 0;

}


