body{
  background-color: rgb(62, 113, 158);
}
.container{
  width: 850px;
  height: 1450px;
  margin-top:150px;
  margin-left: 500px;
  background-color: rgb(68, 84, 173);
  display: inline-block;
}

form{
  margin-left: 60px;
  padding: 20px 0 23px 0 20px;
  width: 700px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.966);
}
label{
  font-size: 25px;
  line-height: 10px;
  margin-bottom: 22px;
  display: inline-block;

}
.nameField,.nrcField,.genderField,.addressField,.majorField,.acadamicYearField,.attendanceYearField{
  margin: 0 0 10px 100px;
  padding: 20px 0 25px 0;

}
.nameField input,.nrcField input{
  width: 400px;
}

.addressField textarea{
  width: 400px;
  height: 80px;
}

button{
  margin: 0 0 10px 300px;
}

/* Header part */

.logoImg{
  width: 200px;
  display: inline;

}
.headerField h1{
  display: inline;
  float: right;
  margin-right: 122px;
  font-size: 60px;
}
.container h1{
  margin-left: 200px;
}

.headerField{
  height: 200px;
  width: 100%;
  background-color: white;
}